---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
import Ramo from "@/components/RamoGrado.astro";
import ramos from "@/data/eit/grado/material.json";

const gestion = ramos[2]
const { material: materialGestion } = gestion;
---


<Layout title="Examen de Grado - Telecomunicaciones">
    <header>
        <h1 class="ramo">
            <a href="/">ePAUTA</a> | <a href="/eit/examen-grado">Examen de Grado</a>  | Gestión
        </h1>
    </header>
    <div class="grid">
        {
            materialGestion.map((ramo: { codigo: string; nombre: string }) => (
                <Ramo
                    codigo={ramo.codigo}
                    nombre={ramo.nombre}
                    especialidad="GES"
                    href={`/eit/examen-grado/gestion/${ramo.codigo}`}
                />
            ))
        }
    </div>
</Layout>

<style>
    .grid {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
    @media (max-width: 768px) {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .grado {
        text-align: center;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 5px;
    }
</style>

