---
import Layout from "../../../layouts/Layout.astro";
import "@/styles/globals.css";
import Ramo from "../../../components/Ramo.astro";
import material from "../../../data/eit/grado/material.json";
import { CardTitle } from "@/components/ui/card"
---

<Layout title="Examen de grado - Informática y Telecomunicaciones">
    <header>
        <h1 class="ramo">
            <a href="/">ePAUTA</a> | <a href="/eit" class="link">Informática y Telecomunicaciones</a> | Examen de grado 
        </h1>
    </header>
    <div class="grid">
        {
            material.map((discplina) => (
            <a href={`/eit/examen-grado/${discplina.nombre}`} class="card">
                <CardTitle className="nombre">{discplina.nombre}</CardTitle>
            </a>
            ))
        }
    </div>
    </Layout>   

    <style>
        .grid {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
        }
        @media (max-width: 768px) {
            .grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    .link:hover {
        text-decoration: underline;
    }
    
	.card {
		position: relative;
		background-color: #f3f3f3;
		padding: 1rem;
		border-radius: 0.5rem;
		height: 100px;
	}
	.card:hover .nombre {
		color: #ef4444;
	}
	.nombre {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
	}
    </style>