---
import Layout from '../../layouts/Layout.astro'
import '@/styles/globals.css'
import Ramo from '../../components/Ramo.astro'
import ramos from '../../data/eii/ramos.json'
---

<Layout title="Industrial - ePAUTA">
  <header>
    <h1 class="ramo"><a href="/">ePAUTA</a> | Industrial</h1>
  </header>
  <div class="grid">
    {
      ramos.map((ramo: { codigo: string; nombre: string }) => (
        <Ramo
          codigo={ramo.codigo}
          nombre={ramo.nombre}
          href={`/eii/${ramo.codigo}`}
          carrera="eii"
        />
      ))
    }
  </div>
</Layout>

<style>
  .grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
